.opinion__container{
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 8px;
    margin: 25px 0;
}
@media (max-width: 1600px) {
    .opinion__container{
        grid-template-columns: repeat(2, 700px);
    }
}
