<div class="dialog-background">
    <div class="dialog-container">
        <div class="dialog-header">
            <button class="close" (click)="dialogNewService.closeNewDialog()"></button>
            <span class="dialog-title">Wybierz produkt lub usługę.</span>
        </div>
        <div class="dialog-content" [ngPlural]="_ViewSelected">
            <ng-template ngPluralCase="0">
                <div class="opinie-container-content">
                    <ul class="list-grid">
                        <li class="element radius" *ngFor="let n of nm" (click)="toogle(n.name)">{{ n.name }}</li>
                    </ul>
                </div>
            </ng-template>

            <ng-template ngPluralCase="1">
                <div class="opinie-header">
                    <div style="margin-left: 10px; border-radius: 3px; background-color: #333333; width: 80px; height: 50px; 
                    display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: default; 
                    font-size: 1.9em; color: hsl(3deg, 97%, 98%);">
                        {{ uName[0] }}
                    </div>
                    <div>
                        <h1>{{  uName  }}</h1>
                        <span>Zopiniował: <b>{{valu}}</b></span>
                    </div>
                </div>
                <div class="content" id="content">
                    <!-- <opn-star-meter (activeNumber)="starMeterOutput($event)"></opn-star-meter> -->
                    <textarea placeholder="Napisz Opinię" #area></textarea>
                </div>
            </ng-template>
        </div>
        <div class="dialog-buttons">
            <button class="button-label" *ngIf="_ViewSelected > 0" (click)="backView()">Wstecz</button>
            <button class="primary" (click)="onPublishOpinion()" *ngIf="_ViewSelected > 0">Wystaw opinię</button>
        </div>
    </div>
</div>