.formContainer{
    width: 30vw;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

.labelC{
    font-size: 4.4rem;
    letter-spacing: 7px;
    margin-top: 9vh;
    color: var(--opn-color-green);
    width: max-content;
}