<opn-pane-container>
    <ul class="opinie-grid">
        <li>
            <opn-opinie-container [opinie-header]="'rhrhrh'" [opinie-content]="'nvuhfgbvhigfbvsdifsh'"></opn-opinie-container>
        </li>
        <li>
            <opn-opinie-container [opinie-header]="'rhrhrh'" [opinie-content]="'nvuhfgbvhigfbvsdifsh'"></opn-opinie-container>
        </li>
        <li>
            <opn-opinie-container [opinie-header]="'rhrhrh'" [opinie-content]="'nvuhfgbvhigfbvsdifsh'"></opn-opinie-container>
        </li>
    </ul>
</opn-pane-container>