@use "../../../../../shared/utils/scss/op-colors.scss" as op-colors;
.dialog-form{
    width: 700px;
    height: max-content;
    display: flex;
    flex-direction: column;

    .description{
        min-height: 150px;
        max-height: 400px;
    }

    .radio-group{
        margin-bottom: 20px;
    }
}

.buttons-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .dialog-button{
        width: 200px;
    }

    .action-button{
        font-weight: bold;
        color:op-colors.$opn-background-color;
        background-color: op-colors.$opn-color-dark-green;
    }
}