<h1 mat-dialog-title style="font-weight: bold; font-size: 1.4rem; margin-bottom: 10px;">Wprowadź dane produktu/usługi</h1>
<div mat-dialog-content>
    <form class="dialog-form">
        <mat-form-field>
            <mat-label style="font-weight: bold;">Nazwa</mat-label>
            <input type="text" matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}" style="font-family: 'Roboto-Regular';"/>
        </mat-form-field>
        <mat-radio-group [formControl]="radioControl" class="radio-group">
            <mat-radio-button value="produkt" class="custom-radio" style="font-family: 'Roboto-Regular';">Produkt</mat-radio-button>
            <mat-radio-button value="usługa" style="font-family: 'Roboto-Regular';margin-left: 10px;">Usługa</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-label style="font-weight: bold;">Opis</mat-label>
            <textarea matInput [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="description" style="font-family: 'Roboto-Regular';"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="buttons-row" style="margin-bottom: 20px;">
    <button mat-button mat-dialog-close class="dialog-button">Anuluj</button>
    <button mat-button class="dialog-button" mat-raised-button color="primary" (click)="confirmAddProduct()" mat-dialog-close >Dodaj</button>
</div>
