<div class="personal_brand_container">
    <mat-list style="width: 240px; margin: 0 5px;">
        <mat-list-item>
            <button mat-button color="primary" class="drawer-button" (click)="openProduktServiceDialog()">Dodaj Produkt lub Usługę</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button color="primary" style="width: 100%;">Ustawienia konta</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button color="primary" style="width: 100%;" (click)="authService.logOut()">Wyloguj mnie</button>
        </mat-list-item>
    </mat-list>
    <div class="products_list-container">
        <!-- <div class="test">test</div>
        <div class="test">test</div>
        <div class="test">test</div> -->
        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="products_list-card">
            <mat-card-header>
              <mat-card-title style="font-weight: bolder;">Google</mat-card-title>
            </mat-card-header>
            <mat-card-content style="max-height: 500px; height: 500px;">
                <p>Coś tam jest, ale nikt nie wie co</p>
            </mat-card-content>
            <mat-card-actions style="display: flex; justify-content: space-between;">
                <button mat-button>Zobacz szczegóły</button>
                <button mat-button color="warn">Usuń Produkt</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>


