<div class="star_meter-container" id="star_meter-comp">
    <!-- (change)="starMeterTest($event)" -->
    <label class="star_meter" id="1">
        <input type="radio" name="star_meter">
    </label>
    <label class="star_meter" id="2">
        <input type="radio" name="star_meter">
    </label>
    <label class="star_meter" id="3">
        <input type="radio" name="star_meter">
    </label>
    <label class="star_meter" id="4">
        <input type="radio" name="star_meter">
    </label>
    <label class="star_meter" id="5">
        <input type="radio" name="star_meter">
    </label>
</div>