<div class="star_meter-container">
    <label class="star_meter">
        <input type="radio" name="star_meter" (change)="starMeterTest($event)">
    </label>
    <label class="star_meter">
        <input type="radio" name="star_meter" (change)="starMeterTest($event)">
    </label>
    <label class="star_meter">
        <input type="radio" name="star_meter" (change)="starMeterTest($event)">
    </label>
    <label class="star_meter">
        <input type="radio" name="star_meter" (change)="starMeterTest($event)">
    </label>
    <label class="star_meter">
        <input type="radio" name="star_meter" (change)="starMeterTest($event)">
    </label>
</div>