@use "../../../../core/shared/utils/scss/op-colors.scss" as op-colors;
.addDialogContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--opn-color-green);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;

    .dialogParagraph{
        margin: 12vh 12vw;
        font-size: 2.5em;
        letter-spacing: 4px;
        color: #fefefe;
    }

    .flex{
        display: flex;
        flex-direction: row;
        aside{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 2px;
            height: 60vh;
            width: 40vw;
            overflow-x: hidden;
            overflow-y: auto;
            margin-left: 20px;
        }

        aside::-webkit-scrollbar{
            width: 6px;
        }

        aside:hover::-webkit-scrollbar{
            width: 8px;
        }

        aside::-webkit-scrollbar-thumb{
            width: 6px;
            background-color: #fafafa;
        }

        .addContent{
            width: 60vw;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .opinie-container{
                width: 40vw;
                background-color: #fdfdfd;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 20px;

                h2{
                    margin-top: 4vh;
                    font-size: 2em;
                    height: 43px;
                    color: op-colors.$op-color-green;
                }

                textarea{
                    width: 37vw;
                    height: 35vh;
                    font-size: 1.5em;
                    resize: none;
                    border: 2px solid #cccccc;
                    border-radius: 6px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            .actions{
                margin-top: 30px;
                button:first-child{
                    background-color: transparent;
                    color: #fdfdfd;
                }
                button{
                    margin-left: 20px;
                    display: inline-block;
                    font-size: 2rem;
                    padding: 13px;
                    background-color: op-colors.$buttons-color;
                    color: #fdfdfd;
                    font-weight: 600;
                    letter-spacing: 3px;
                    border: none;
                    cursor: pointer;
                }

                button:hover{
                    background-color: op-colors.$buttons-color-hover;
                }
            }
        }

    }
}
