.choose-pn-steps{
    display: flex;
    justify-content: center;
    align-items: center;

    .choose-buttons{
        width: 10vw;
        height: 12vh;
        margin-right: 40px;
        font-size: 1.5em;
        background-color: transparent;
        border: 2px solid transparent;
    }

    .choose-buttons:hover{
        width: 10vw;
        height: 12vh;
        margin-right: 40px;
        font-size: 1.5em;
        background-color: transparent;
        border-bottom: 2px solid #fff;
    }

    .positive{
        color: rgba(20, 150, 20);
    }

    .negative{
        color: rgba(150, 20, 20);
    }
}