<div class="user__account">
    <opn-pane-container>
        <div class="business-card">
            <div class="business-card__header">
                <span class="avatar">{{nameAvatar}}</span>
                <span class="name">{{userName}}</span>
            </div>
            <div class="business-card__content">
                <button (click)="changePassword()">Zmień hasło</button>
                <button (click)="deleteAccount()">Usuń konto</button>
            </div>
        </div>
    </opn-pane-container>
</div>
