@use "../core/shared/utils/scss/op-colors.scss" as op-colors;

$avatar-width: 40vw;
$avatar-height: 40vh;

.user__account{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96.4vw;
    height: 86vh;
    margin-top: 6px;

    .business-card{
        display: flex;
        flex-direction: column;
        width: $avatar-width;
        height: $avatar-height;
        border-radius: 3px;
        text-align: center;
        background-color: op-colors.$op-color-green;
        margin-left: 20px;
        margin-top: calc(20vh / 2);

        .business-card__header{
            display: flex;
            align-items: center;
            width: 96%;
            height: calc($avatar-height / 5);
            margin-left: 20px;
            margin-top: 20px;

            .avatar{
                display: flex;
                justify-content: center;
                align-self: center;
                width: 6vw;
                height: 5.6vh;
                background-color: azure;
                margin-top: 3px;
                margin-left: 10px;
                font-size: calc(3em - 9px);
            }

            .name{
                width: max-content;
                font-size: 1.8em;
                margin-left: 40px;
                color: azure;
            }
        }

        .business-card__content{
            display: flex;
            justify-content: center;

            button{
                background-color: transparent;
                border: none;
                font-size: 2em;
                margin-top: 9vh;
                cursor: pointer;
                color: var(--opn-background-color);
            }
            button:hover{
                color: #cdcdcd;
            }
            button:nth-child(2){
                margin-left: 50px;
            }
        }
    }
}
