<form class="formContainer step1" (submit)="signUpPersonalBrand($event)" [formGroup]="personalBrandForm">
    <span class="labelC account">{{accountPersonalBrandService.getTypeAccount() || "Typ konta"}}</span>
    <input type="text" name="userName" formControlName="personalBrandName" class="inputC" placeholder="Nazwa marki"/>
    <input type="email" name="userEmail" formControlName="personalBrandEmail" class="inputC" placeholder="Adres e-mail"/>
    <input type="password" name="userPassword" formControlName="personalBrandPassword" id="uPassword" class="inputC" placeholder="Hasło"/>
    <button type="submit">Stwórz konto</button>
</form>
