@use "../shared/utils/scss/op-mixins.scss" as *;

.logowanieContainer{
    @include flexD();
    width: 98vw;
    height: 90vh;
}

.labelC{
    font-size: 4.4rem;
    letter-spacing: 7px;
    margin: 23px 0;
    color: var(--opn-color-green);
}

.formContainer{
    width: 30vw;
    height: 50vh;
    @include flexD(column, none);
    margin-top: 15vh;
}

.inputC{
    width: 30vw;
    padding: 10px;
    outline: none;
    margin-top: 7%;
    margin-left: 4%;
    border: 1px solid #cccccc;
    font-size: 1.8rem;
    background-color: #fcfcfc;
}

.inputC:focus{
    border-bottom: 2px solid var(--opn-color-green);
}

button{
    margin-top: 7%;
    font-size: 1.8rem;
    letter-spacing: 4px;
    border: none;
    padding: 10px;
    background-color: var(--opn-color-green);
    color: #ffffff;
}

button:hover{
    cursor: pointer;
    background-color: var(--opn-color-green-hover);
}

button[disabled]{
    background-color:#cccccc;
    color: #111111;
    cursor: default;
}

input.ng-valid, input.ng-valid.required{
    border-bottom: 2px solid #42A948;
}

input.ng-invalid{
    border-bottom: 2px solid #a94442;
}
input.ng-untouched{
    border-bottom: 1px solid #cccccc;
}
input.ng-dirty{
    border-bottom: 1px solid #d3d617;
}
