<opn-pane-container>
    <form class="formContainer" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <label class="labelC">Logowanie</label>
        <input type="email" name="Email" class="inputC" placeholder="Adres e-mail" formControlName="email"/>
        <input type="password" name="Password" id="uPassword" class="inputC" placeholder="Hasło" formControlName="password"/>
        <button type="submit">Zaloguj się</button>
    </form>
    <!-- <opn-choose *opnTeleportTo [name]="'Teleport'"></opn-choose> -->
</opn-pane-container>
