@use "../core/shared/utils/scss/op-mixins.scss" as *;

$placeholder-color: hsla(0, 0%, 97%, 0.664);

.logowanieContainer{
    @include flexD();
    width: 98vw;
    height: 90vh;
}

.labelC{
    font-size: 4.4rem;
    letter-spacing: 7px;
    margin: 23px 0;
    color: var(--opn-color-green);
}

.formContainer{
    width: 30vw;
    height: 50vh;
    @include flexD(column, none);
    margin-top: 15vh;
}

.inputC{
    width: 30vw;
    padding: 10px;
    outline: none;
    margin-top: 7%;
    margin-left: 4%;
    border: 1px solid #cccccc;
    font-size: 1.8rem;
    background-color: #fcfcfc;
}

.inputC:focus{
    border-bottom: 2px solid var(--opn-color-green);
}

button{
    margin-top: 7%;
    font-size: 1.8rem;
    letter-spacing: 4px;
    border: none;
    padding: 10px;
    background-color: var(--opn-color-green);
    color: #ffffff;

    .progress{
        display: block;
        width: 70px;
        height: 46px;
        border: 2px solid $placeholder-color;
        border-radius: 3px;
        animation: progress-rotate 1.5s infinite;

        .pr1{
            background-color: $placeholder-color;
            width: 15px;
            height: 10px;
            margin-left: 3px;
            margin-top: 3px;
            border-radius: 3px;
        }

        .pr1::before{
            content: '';
            display: block;
            background-color: $placeholder-color;
            width: 27px;
            height: 4.5px;
            margin-left: 20px;
            margin-top: 3px;
        }

        .pr1::after{
            content: '';
            display: block;
            background-color: $placeholder-color;
            width: 23px;
            height: 4px;
            margin-left: 20px;
            margin-top: 2px;
        }

        .pr2{
            background-color: $placeholder-color;
            width: 50px;
            height: 4px;
            margin-left: 7px;
            margin-top: 7px;
            border-radius: 3px;
            position: absolute;
        }

        .pr2::before, .pr2::after{
            border-radius: 3px;
        }

        .pr2::before{
            content: '';
            display: block;
            background-color: $placeholder-color;
            width: 39px;
            height: 4px;
            margin-left: 0px;
            margin-top: 7px;
        }

        .pr2::after{
            content: '';
            display: block;
            background-color: $placeholder-color;
            width: 23px;
            height: 4px;
            margin-left: 0px;
            margin-top: 3px;
        }
    }
}

button:hover{
    cursor: pointer;
    background-color: var(--opn-color-green-hover);
}

button[disabled]{
    background-color:#cccccc;
    color: #111111;
    cursor: default;
}

input[disabled]{
    background-color:#cccccc;
    color: #111111;
    cursor: default;
}

input.ng-valid, input.ng-valid.required{
    border-bottom: 2px solid #42A948;
}

input.ng-invalid{
    border-bottom: 2px solid #a94442;
}
input.ng-untouched{
    border-bottom: 1px solid #cccccc;
}
input.ng-dirty{
    border-bottom: 1px solid #d3d617;
}

@keyframes progress-rotate {
    100%{
        rotate: 360deg;
    }
}