<div id="formigInup">
    <div id="formsignin">
        <div id="LLeft">
            <div><input type="checkbox" id="sess" checked><label for="sess" #log>Zaloguj się</label></div>
            <div><input type="checkbox" id="scss"><label for="scss" #res>Zarejestruj się</label></div>
        </div>
        <div id="LRight">
            <div class="LRCon" #LRConLogin>
                <h1>Zostaw swoją opinię</h1>
                <input type="text" placeholder="Adres E-mail" #inemail/>
                <input type="password" placeholder="Hasło" #inpass/>
                <button (click)="sign(inemail.value, inpass.value)">Zaloguj się</button>
            </div>
            <div class="LRCon" #LRConRegister>
                <h1>Dołącz do osób opiniujących</h1>
                <input type="text" placeholder="Adres E-mail" #upemail/>
                <input type="password" placeholder="Hasło" #uppass/>
                <button (click)="signUp(upemail.value, uppass.value)">Zarejestruj się</button>
            </div>
        </div>
    </div>
</div>
