<div class="dialog-background">
    <div class="dialog-container">
        <div class="dialog-header">
            <button class="close" (click)="closeDialog()"></button>
            <button class="back" (click)="backView()"><span class="back-temp"></span></button>
            <span class="dialog-title">Wybierz produkt lub usługę.</span>
        </div>
        <div class="dialog-content" [ngPlural]="_ViewSelected">
            <!-- (click)="op.reMode = 100" -->
            <ng-template ngPluralCase="0">
                <div class="opinie-container-content">
                    <ul class="list-grid">
                        <li class="element radius" (click)="toogle($event)">Microsoft</li>
                        <li class="element radius" (click)="toogle($event)">Google</li>
                        <li class="element radius" (click)="toogle($event)">Android</li>
                        <li class="element radius" (click)="toogle($event)">Apple</li>
                        <li class="element radius" (click)="toogle($event)">Xiaomi</li>
                        <li class="element radius" (click)="toogle($event)">Firefox</li>
                        <li class="element radius" (click)="toogle($event)">Chrome</li>
                        <li class="element radius" (click)="toogle($event)">Brave</li>
                        <li class="element radius" (click)="toogle($event)">Opinier</li>
                    </ul>
                </div>
            </ng-template>

            <ng-template ngPluralCase="1">
                <div class="opinie-header">
                    <!-- (click)="op.reMode = 101" -->
                    <div style="margin-left: 10px; border-radius: 3px; background-color: #333333; width: 80px; height: 50px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <!-- <span style="font-size: 1.9em; text-align: center; padding-top: 40px; cursor: default;"></span> -->
                    </div>
                    <div>
                        <h1>Anonim</h1>
                        <span>Zopiniował: {{valu}}</span>
                    </div>
                </div>
                <div class="content" id="content">
                    <span>Add star meter there</span>
                    <textarea placeholder="Napisz Opinię" #area></textarea>
                    <!--  (click)="giveFeedback()" -->
                </div>
            </ng-template>
        </div>
        <div class="dialog-buttons">
            <button class="button-label" #actionButton>Dalej</button>
        </div>
    </div>
</div>