.background-dialog{
    background-color: hsla(3, 10%, 10%, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .dialog-container{
        background-color: hsla(3, 97%, 98%, 1);
        width: 900px;
        height: 600px;
        position: relative;
        left: 27%;
        top: 20%;
        border-radius: 5px;

        .dialog-header{
            translate: 30px 40px;
            width: 93%;
            display: flex;

            .close, .back{
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: none;
                border-radius: 3px;
            }

            .close:hover, .back:hover{
                background-color: hsla(5, 10%, 77%, 0.425);
            }

            .close::before{
                content: '';
                display: block;
                background-color: var(--opn-color-dark-green);
                width: 5px;
                height: 23px;
                translate: 12.2px 8px;
                rotate: -45deg;
            }

            .close::after{
                content: '';
                display: block;
                background-color: var(--opn-color-dark-green);
                width: 5px;
                height: 23px;
                translate: 12.2px -68%;
                rotate: 45deg;
            }

            .back{
                margin-left: 10px;
                margin-right: 10px;
                // clip-path: polygon(41% 18%, 41% 46%, 100% 46%, 100% 61%, 41% 61%, 40% 84%, 0% 50%);
                .back-temp{
                    background-color: var(--opn-color-dark-green);
                    display: block;
                    width: 28px;
                    height:28px;
                    clip-path: polygon(41% 18%, 41% 46%, 100% 46%, 100% 61%, 41% 61%, 40% 84%, 0% 50%);
                }

                // .back-temp:hover{
                // }
            }
    
            .dialog-title{
                font-size: 2em;
                display: block;
                pointer-events: none;
                translate: 4px 30%;
            }
        }

        .dialog-content{
            background-color: red;
            width: 93%;
            height: 70%;
            translate: 30px 55px;
        }

        .dialog-buttons{
            translate: 30px 60px;
            width: 93%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .button-label{
                font-size: 1.5em;
                margin-top: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}