<div class="background-dialog">
    <div class="dialog-container">
        <div class="dialog-header">
            <button class="close"></button>
            <button class="back"><span class="back-temp"></span></button>
            <span class="dialog-title">Wybierz produkt lub usługę.</span>
        </div>
        <div class="dialog-content">

        </div>
        <div class="dialog-buttons">
            <button class="button-label">Dalej / Wystaw opinię</button>
        </div>
    </div>
</div>