$opn-color-dark-green: hsl(120, 86%, 37%);
$opn-background-color: hsl(0, 0%, 96%);

$opn-hex-color-green: #1ef01e;
$opn-color-green: #066506;
$opn-color-green-hover: #078b07;


$opn-color-dialog-bg: #57F457;
$opn-color-dialog-fg: #ffffff;

$buttons-color: $opn-color-green;
$buttons-color-hover: #088808;

$opn-green-light: #0a9b0a;