.opinie-container{
    width: 20vw;
    padding: auto;
    background-color: var(--opn-green-light);
    color: var(--opn-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
