@use "src/shared/utils/scss/op-colors.scss" as op-colors;

p{
    display: block;
    width: fit-content;
    font-size: 3rem;
    color: op-colors.$op-color-green;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0;
    margin-right: 30px;
}