@use "./../../../utils/scss/op-colors.scss" as op-colors;

.logoOpn{
    width: 60vw;
    height: 40vh;
    margin-left: 20vw;
    margin-top: 30vh;
    p{
        font-size: 5rem;
        color: op-colors.$op-color-green;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 2px;
    }
    span{
        font-size: 1.5rem;
        background-color: op-colors.$op-color-green;
        padding: 3px 13px;
        letter-spacing: 3px;
        margin-left: 8vw;
        color: #fdfdfd;
    }

    .motto{
        font-size: 4rem;
        width: 50vw;
        margin-left: 27vw;
        margin-top: -14vh;
    }
}