<div *ngIf="eMode == false; else editor" class="opinie-container">
    <div class="opinie-header">
        <div style="margin-left: 20px; border-radius: 100%; background-color: #333333; width: 50px; height: 50px; text-align: center;"></div>
        <div>
            <h1>{{user_name}}</h1>
            <span>Zopiniował firmę: <b>{{header}}</b></span>
        </div>
        <div *ngIf="login" id="context-m" 
                style="margin-left: 20px; width: 50px; height: 50px; text-align: center; cursor: pointer;"
                (click)="context = !context">
            <svg width="30" height="50" viewBox="-6 2 30 40">
                <circle cx="10" cy="7" r="6" fill="hsl(0,0%,99%)" class="svg__circle"/>
                <circle cx="10" cy="22.22" r="6" fill="hsl(0,0%,99%)" class="svg__circle"/>
                <circle cx="10" cy="38" r="6" fill="hsl(0,0%,99%)" class="svg__circle"/>
            </svg>
        </div>
    </div>
    <div class="content" id="content ">
        <p [id]="opID">{{content}}</p>
    </div>
    <div class="container__menu" *ngIf="context">
        <button (click)="changeOpinion($event)">Edytuj</button>
        <button (click)="deleteOpinion($event)">Usuń</button>
    </div>
</div>

<ng-template #editor>
    <div class="opinie-container">
        <h2 [ngClass]="op.reMode === true ? 'none' : ''">Wybierz komu wystawisz opinię</h2>
        <div class="opinie-container-content" [ngClass]="op.reMode === true ? 'none' : ''">
            <ul class="list-grid">
                <li class="element" (click)="toogle($event)">Microsoft</li>
                <li class="element" (click)="toogle($event)">Google</li>
                <li class="element" (click)="toogle($event)">Android</li>
                <li class="element" (click)="toogle($event)">Apple</li>
                <li class="element" (click)="toogle($event)">Xiaomi</li>
                <li class="element" (click)="toogle($event)">Firefox</li>
                <li class="element" (click)="toogle($event)">Chrome</li>
                <li class="element" (click)="toogle($event)">Brave</li>
                <li class="element" (click)="toogle($event)">Opinier</li>
            </ul>
        </div>
    </div>
</ng-template>

<!--
<ng-content select="opn-opinie-header"></ng-content>
<ng-content select="opn-opinie-content"></ng-content>
-->
