<div [ngPlural]="eMode">
    <ng-template ngPluralCase="0">
        <div class="opinie-container radius">
            <div class="opinie-header">
                <div style="margin-left: 20px; border-radius: 100%; background-color: #333333; width: 50px; height: 50px; text-align: center;"></div>
                <div>
                    <h1>{{user_name}}</h1>
                    <span>Zopiniował: <b #headOpn>{{header}}</b></span>
                </div>
                <div *ngIf="login" id="context-m" 
                        style="margin-left: 20px; width: 50px; height: 50px; text-align: center; cursor: pointer;"
                        (click)="context = !context">
                    <svg width="30" height="50" viewBox="-6 2 30 40">
                        <circle cx="10" cy="7" r="6" fill="hsl(0,0%,99%)" class="svg__circle"/>
                        <circle cx="10" cy="22.22" r="6" fill="hsl(0,0%,99%)" class="svg__circle"/>
                        <circle cx="10" cy="38" r="6" fill="hsl(0,0%,99%)" class="svg__circle"/>
                    </svg>
                </div>
            </div>
            <div class="content" id="content ">
                <p [id]="opID" #paragraph>{{content}}</p>
            </div>
            <div class="container__menu" *ngIf="context">
                <button (click)="changeOpinion($event)">Edytuj</button>
                <button (click)="deleteOpinion($event)">Usuń</button>
            </div>
        </div>
    </ng-template>

    <ng-template ngPluralCase="1">
        <div class="edit-container radius" [ngPlural]="op.reMode">
            <ng-template ngPluralCase="100">
                <button (click)="op.reMode = 101" class="call-to-action radius hover">Dodaj Opinię</button>
            </ng-template>

            <ng-template ngPluralCase="101">
                <h3 style="margin-right: 2vw; margin-top: 3vh;"><button class="call-to-action-small hover radius" (click)="op.reMode = 100"> Anuluj</button> Wybierz komu wystawisz opinię</h3>
                <div class="opinie-container-content">
                    <ul class="list-grid">
                        <li class="element radius" (click)="toogle($event)">Microsoft</li>
                        <li class="element radius" (click)="toogle($event)">Google</li>
                        <li class="element radius" (click)="toogle($event)">Android</li>
                        <li class="element radius" (click)="toogle($event)">Apple</li>
                        <li class="element radius" (click)="toogle($event)">Xiaomi</li>
                        <li class="element radius" (click)="toogle($event)">Firefox</li>
                        <li class="element radius" (click)="toogle($event)">Chrome</li>
                        <li class="element radius" (click)="toogle($event)">Brave</li>
                        <li class="element radius" (click)="toogle($event)">Opinier</li>
                    </ul>
                </div>
            </ng-template>
            <ng-template ngPluralCase="102">
                <div class="opinie-header">
                    <div (click)="op.reMode = 101" class="primary" style="margin-left: 10px; margin-right: 5px; width: max-content; height: max-content; padding: 4px 12px; margin-top: 10px;">
                        Wróć
                    </div>
                    <div>
                        <h1>{{user_name}}</h1>
                        <span>Zopiniował firmę: {{valu}}</span>
                    </div>
                </div>
                <div class="content edit-content" id="content">
                    <textarea placeholder="Napisz Opinię" #area></textarea>
                    <button class="primary" (click)="giveFeedback()">Wystaw Opinie</button>
                </div>
            </ng-template>
        </div>
    </ng-template>

    <ng-template ngPluralCase="2">
        <div class="edit-container radius">
            <div class="opinie-header">
                <div (click)="eMode = 0" class="primary radius" style="margin-left: 10px; margin-right: 5px; width: max-content; height: max-content; padding: 4px 12px; margin-top: 10px;">
                    Anuluj
                </div>
                <div>
                    <h1>{{user_name}}</h1>
                    <span>Zopiniował: <b>{{globalChangeValue.headOpinion}}</b></span>
                </div>
            </div>
            <div class="content edit-content" id="content">
                <textarea #area>{{globalChangeValue.content}}</textarea>
                <button class="primary radius" (click)="SendChangeQuery($event)">Zmień Opinie</button>
            </div>
        </div>
    </ng-template>
</div>

<!--  background-color: #333333; cursor: pointer; -->

<!--
<ng-content select="opn-opinie-header"></ng-content>
<ng-content select="opn-opinie-content"></ng-content>
-->
