<div id="dg-modal">
    <div id="conleft">
        <input type="text" id="opn-modal-header" placeholder="Temat Opinii" spellcheck="false" #opinionTopic/>
        <textarea id="opn-modal-content" placeholder="Treść Opinii" autocomplete="off" autocapitalize="none"
         #opinionContent></textarea>
    </div>
    <div id="conright">
        <span id="opn-modal-done" (click)="mddone()">Dodaj Opinię</span>
        <span id="opn-modal-close" (click)="mdclose()">Zrezygnuj z Opinii</span>
    </div>
</div>
