<header [ngPlural]="menuBarService.IsTheUserLoggedInState">
    <a routerLink="/" class="link logo-opinier">Opinier</a>
    <ng-template ngPluralCase="0">
        <nav class="main__menu">
            <a routerLink="/logowanie">Podziel się opinią</a>
            <a class="link" routerLink="/register">Stwórz konto</a>
            <a class="link" routerLink="/opinie">Zobacz opinie</a>
        </nav>
    </ng-template>
    <ng-template ngPluralCase="1">
        <nav class="profile__menu">
            <p>{{user_name}}</p>
            <button class="button__primary vertical-center" (click)="profileOptions = !profileOptions">Konto</button>
            <!-- <button class="button__loginned" (click)="signOut()">Wyloguj mnie</button>
            <a routerLink="/zalogowano/user-account" class="button__loginned">Ustawienia profilu</a> -->
            <div *ngIf="profileOptions" class="profile__options">
                <button class="profile__options-element" (click)="signOut()">Wyloguj mnie</button>
                <a routerLink="/zalogowano/user-account" class="profile__options-element text-center">Ustawienia Konta</a>
            </div>
        </nav>
    </ng-template>
</header>
