<header [ngPlural]="menuBarService.IsTheUserLoggedInState">
    <a routerLink="/" class="link logo-opinier">Opinier<small style="font-size: 1.1rem; 
    color: var(--opn-background-color);
     background-color: red; 
     text-align: center; 
     padding: 2px 5px;">Alpha</small></a>
    <ng-template ngPluralCase="0">
        <nav class="main__menu">
            <a routerLink="/login">Podziel się opinią</a>
            <a class="link" routerLink="/register">Stwórz konto</a>
            <a class="link" routerLink="/opinie">Zobacz opinie</a>
        </nav>
    </ng-template>
    <ng-template ngPluralCase="1">
        <nav class="profile__menu">
            <button class="button__primary vertical-center" (click)="profileOptions = !profileOptions" *ngIf="c">Konto</button>
            <div *ngIf="profileOptions" class="profile__options">
                <button class="profile__options-element" (click)="signOut()">Wyloguj mnie</button>
                <a routerLink="/zalogowano/settings-account" class="profile__options-element text-center" (click)="profileOptions = !profileOptions">Ustawienia Konta</a>
            </div>
        </nav>
    </ng-template>
</header>