<div class="dialog-background">
    <div class="dialog-container">
        <div class="dialog-header">
            <button class="close" (click)="dialogNewService.closeChangeDialog()"></button>
            <span class="dialog-title">Edytuj opinię.</span>
        </div>
        <div class="dialog-content">
            <div class="opinie-header">
                <div style="margin-left: 10px; border-radius: 3px; background-color: #333333; width: 80px; height: 50px;
                    display: flex; flex-direction: column; justify-content: center; align-items: center; color: var(--opn-background-color); font-size: 1.7rem;">
                    {{ author[0] }}
                </div>
                <div>
                    <h1>{{ author }}</h1>
                    <span>Zopiniował: <b>{{ valu }}</b></span>
                </div>
            </div>
            <div class="content" id="content">
                <span>Add star meter there</span>
                <textarea placeholder="Zmień Opinię" #area></textarea>
            </div>
        </div>
        <div class="dialog-buttons">
            <button class="button-label" (click)="onChangeOpinion()">Zmień opinię</button>
        </div>
    </div>
</div>