@use "../core/shared/utils/scss/op-mixins.scss" as *;

.labelC{
    font-size: 4.4rem;
    letter-spacing: 7px;
    margin-top: 14vh;
    color: var(--opn-color-green);
    width: max-content;
}

.formContainer{
    width: 30vw;
    height: 50vh;
    @include flexD(column, none);
    margin-top: 2vh;

    .radioButtons{
        display: flex;
        justify-content: space-around;
        width: fit-content;
        gap: 15px;
    }
}