<opn-pane-container>
    <opn-form-registers (submit)="signUpUser()" [formGroup]="userForm" [defaultAccountService]="defaultAccountService">
        <opn-rejestracja-step [step]="2"></opn-rejestracja-step>
        <div class="field-container">
            <label class="field">Nazwa Użytkownika</label>
            <input type="text" name="userName" formControlName="name" class="inputC" placeholder="Zbyszek"/>
        </div>
        <div class="field-container">
            <label class="field">Adres E-mail</label>
            <input type="email" name="userEmail" formControlName="email" class="inputC" placeholder="zbyszek634646@onet.pl"/>
        </div>
        <div class="field-container">
            <label class="field">Hasło</label>
            <input type="password" name="userPassword" formControlName="password" id="uPassword" class="inputC" placeholder="****************"/>
        </div>
        <span style="display: none; background-color: red; color: var(--opn-background-color); padding: 4px; margin-top: 20px; width: max-content; height: 40px;" #summitpropt></span>
        <button type="submit">Stwórz konto</button>
    </opn-form-registers>
</opn-pane-container>