<div class="opinion-add__placeholder" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width: 90px; margin-bottom: 12px;">
        <svg width="20mm" 
            height="20mm" viewBox="1 0 12.999999 12.999999" 
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g transform="matrix(0.83602771,0,0,0.83602771,-1.3803372,-1.0609309)">
                    <rect
                        style="fill:var(--opn-green-light);fill-opacity:1;stroke:none;stroke-width:1.77691;stroke-linecap:round;paint-order:fill markers stroke"
                        width="3.9914572"
                        height="13.290305"
                        x="-11.190135"
                        y="2.7035816"
                        transform="matrix(0.00662113,-0.99997808,0.99998904,0.00468206,0,0)" />
                    <rect
                        style="fill:var(--opn-green-light);fill-opacity:1;stroke:none;stroke-width:1.77719;stroke-linecap:round;paint-order:fill markers stroke"
                        width="3.9914317"
                        height="13.294538"
                        x="7.3995004"
                        y="2.5176723" />
                </g>
        </svg>
    </div>
    <span style="font-size: 1.2rem; margin-bottom: 20px;">Nie opublikowałeś/aś opinii.</span>
    <button class="add-opinion__button" (click)="sendNavigateToEvent()">Opublikuj Opinię</button>
</div>
