// $op-color-green: rgb(30, 240, 30);
$op-color-dark-green: rgb(11, 211, 11);

$op-hex-color-green: #1ef01e;
$op-color-green: #066506;
$op-color-green-hover: #078b07;


$opn-color-dialog-bg: #57F457;
$opn-color-dialog-fg: #0416BE;