<opn-menu-bar></opn-menu-bar>
<div class="bg-[#333] flex flex-col items-center w-[100%] h-[52.8em]">
    <form class="w-max flex flex-col items-center my-44" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <label class="text-7xl tracking-[7px] text-green">Logowanie</label>
        <div class="flex flex-col my-7">
            <label class="block mt-2 text-2xl w-max text-white">Adres E-mail</label>
            <input type="email" name="Email" 
            class="inputC" formControlName="email"/>
        </div>
        <div class="flex flex-col">
            <label class="block mt-2 text-2xl w-max text-white">Hasło</label>
            <input type="password" name="Password" id="uPassword" 
            class="inputC" formControlName="password"/>
        </div>
        <div style="justify-content: right; margin-left: 41%;" class="field-container">
            <label class="w-max text-lg text-white">Jeżeli nie masz konta to
                <a href="/business/register" class="font-semibold">załóż konto</a>.
            </label>
        </div>
        <button type="submit" class="my-7 text-3xl border-none tracking-wider p-3 py-2 bg-green text-white hover:bg-dark-green">Zaloguj się</button>
    </form>
</div>
