<div id="fggerv">
    <header>
        <div>Logo</div>
        <h1>Witaj User</h1>
    </header>
    <form>
        <div id="conleft">
            <input type="text" id="opn-modal-header" placeholder="Temat Opinii" spellcheck="false" #opinionTopic/>
            <textarea id="opn-modal-content" placeholder="Treść Opinii" autocomplete="off" autocapitalize="none"
             #opinionContent></textarea>
        </div>
        <button (click)="mddone()" type="button">Dodaj Opinię</button> 
    </form>
    <!-- <button (click)="tttt()">Dodaj Opinię</button> -->
</div>
