<opn-pane-container>
    <div class="opinion__container">
        <opn-opinie-container
        [mode]="1"
        [loginP]="true"
        [user_name]="'Anonim'"
        (addOpinion)="sendData($event)">
        </opn-opinie-container>

        <ng-template [ngIf]="opinionsService.state.opinion.length > 0">
            <opn-opinie-container *ngFor="let ops of opinionsService.state.opinion"
            [loginP]="true"
            [ops]="ops"
            [user_name]="ops.user_name || 'Anonim'"
            (addOpinion)="sendData($event)">
            </opn-opinie-container>
        </ng-template>
    </div>
</opn-pane-container>

