<opn-pane-container>
    <ng-template [opnDialogNew]></ng-template>
    <ng-template [opnDialogChange]></ng-template>
    <div class="opinion__container">
        <button (click)="dialogNew.openNewDialog()" style="font-size: 1.6rem; color: var(--opn-background-color); cursor: pointer; height: 263px; border: none; background-color: var(--opn-green-light); border-radius: 3px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div style="width: 70px;">
                <svg width="13mm" height="13mm" viewBox="0 0 12.999999 12.999999" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <defs
                    id="defs2" />
                <g
                    id="layer1">
                    <g
                    id="g1963"
                    transform="matrix(0.83602771,0,0,0.83602771,-1.3803372,-1.0609309)">
                    <rect
                        style="fill:hsl(0,0%,99%);fill-opacity:1;stroke:none;stroke-width:1.77691;stroke-linecap:round;paint-order:fill markers stroke"
                        id="rect61-6"
                        width="3.9914572"
                        height="13.290305"
                        x="-11.190135"
                        y="2.7035816"
                        transform="matrix(0.00662113,-0.99997808,0.99998904,0.00468206,0,0)" />
                    <rect
                        style="fill:hsl(0,0%,99%);fill-opacity:1;stroke:none;stroke-width:1.77719;stroke-linecap:round;paint-order:fill markers stroke"
                        id="rect61"
                        width="3.9914317"
                        height="13.294538"
                        x="7.3995004"
                        y="2.5176723" />
                    </g>
                </g>
                </svg>
            </div>
            Dodaj Opinię
        </button>

        <ng-template [ngIf]="opinionsService.state.opinion.length > 0">
            <opn-opinie-container *ngFor="let ops of opinionsService.state.opinion"
            [loginP]="true"
            [ops]="ops"
            [user_name]="ops.user_name">
            </opn-opinie-container>
        </ng-template>
    </div>
</opn-pane-container>

