<opn-pane-container>
    <ng-container #opn></ng-container>
    <!-- <button class="add__opinion" (click)="runAdd()">Dodaj Opinię</button> -->
    <div class="opinion__container">
        <opn-opinie-container
         [mode]="1"
         [loginP]="true"
         [user_name]="'Anonim'"
         (changeOpinionEvent)="opinionEvent($event)"
         (addOpinion)="sendData($event)">
        </opn-opinie-container>

        <opn-opinie-container *ngFor="let ops of opinionsService.opinions"
         [loginP]="true"
         [ops]="ops"
         [user_name]="ops.user_email || 'Anonim'"
         (changeOpinionEvent)="opinionEvent($event)"
         (addOpinion)="sendData($event)">
        </opn-opinie-container>
    </div>
    <!-- *opnTeleportTo -->
    <!-- *ngIf="opinionsService.close" -->
    <!-- <opn-add-opinion *ngIf="!opinionsService.close" (returnedData)="sendData($event)" (close)="closeAddComponent($event)"></opn-add-opinion> -->
    <!-- <opn-context-menu></opn-context-menu> -->
</opn-pane-container>
