.add__opinion{
    position: fixed;
    margin-left: 80vw;
    margin-top: 76vh;
    border-radius: 7px;
    padding: 7px;
    border: none;
    width: 180px;
    height: 55px;
    font-size: 1.7em;
    color: var(--opn-background-color);
    background-color: var(--opn-color-green);
    z-index: 10;
    cursor: pointer;
}
.add__opinion:hover{background-color: var(--opn-color-dark-green);}
.opinion__container{
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap: 8px;
    margin: 25px 0;
}
