<div class="loginned__container">
    <ng-template opnDialog></ng-template>
    <button class="add__opinion" (click)="runAdd()">D</button>
    <div class="profile__menu">
        <p *ngIf="userObjectFromLocalStorage as ur">Witaj {{ ur.email }}!</p>
        <button class="button__loginned" (click)="signOut()">Wyloguj mnie</button>
        <a routerLink="/zalogowano/user-account" class="button__loginned">Ustawienia profilu</a>
    </div>
    <div *ngIf="yourOpinionsPublishing.length > 0">
        <div class="opinion__container">
            <opn-opinie-container *ngFor="let ops of yourOpinionsPublishing">
                <opn-opinie-header>{{ops.head}}</opn-opinie-header>
                <opn-opinie-content>{{ops.content}}</opn-opinie-content>
            </opn-opinie-container>
        </div>
    </div>
</div>
