

opn-app-dialog-modal.dis{
    display: none;
}

opn-app-dialog-modal.vis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0vh;
    left: 0vw;
    z-index: 5;
}

opn-app-dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 96.4vw;
}
