<div style="display: flex; background-color: var(--bss-bg); height: 100vh;">
    <!--bg-[#877198]-->
    <div style="width: 6rem; height: 100%; color: var(--opn-white); display: flex; flex-direction: column;">
        <span style="width: 2.65em; height:max-content; margin-top: 0.75rem; color: var(--opn-green); font-weight: bold; display:flex; 
        flex-direction: column; text-align: center; font-size: 1.875rem;">OMS 
        <span style="padding-top: -2em; color: #f1b668; font-size: 0.875rem;">business</span></span>
        <a class="link">Dodaj</a>
        <a class="link">Profil</a>
        <button class="link">Wyloguj</button>
    </div>
    <div style="display: grid;grid-template-columns: 32% 32% 32%; width: 85vw; height: 87vh; overflow-y: auto; overflow-x: hidden; margin-inline: auto; 
    gap: 2rem; padding-bottom: 1.25rem; padding-top: 0.5rem;">
        @for(product of filteredProduct; track product.id){
         <opn-product-list-card 
         [cardId]="product.id ? product.id : 1" 
         [cardHeader]="product.name" 
         [cardSubHeader]="product.type_product" 
         [cardContent]="product.description" 
         (emitDelete)="deleteProductFromDatabasee($event)" />
        }
    </div>
</div>
