<header class="flex w-[80%] flex-row justify-between mx-auto">
    <a routerLink="/" class="w-64 text-green text-3xl font-bold my-3.5 mx-7 py-[5px] tracking-[3px]">OMS</a>
    <nav class="w-max flex items-center my-3.5">
        <a class="text-base bg-transparent text-green p-2 tracking-[3px] border-none font-bold hover:text-white-hover hover:bg-dark-green" routerLink="/business/login">Dodaj Produkt/Usługę</a>
        <a class="ml-2 text-base bg-transparent text-green p-2 tracking-[3px] border-none font-bold hover:text-white-hover hover:bg-dark-green" routerLink="/register">Stwórz konto</a>
        <a class="ml-2 text-base bg-transparent text-green p-2 tracking-[3px] border-none font-bold hover:text-white-hover hover:bg-dark-green" routerLink="/opinion">Zobacz opinie</a>
    </nav>
</header>

<!-- @case (1){
            <nav class="profile__menu">
                <button class="profile__options-element" (click)="signOut()">Wyloguj mnie</button>
                <a routerLink="/loginned/settings-account" class="profile__options-element text-center" (click)="profileOptions = !profileOptions">Ustawienia Konta</a>
            </nav>
        } -->