header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-opinier{
    display: block;
    width: fit-content;
    height: max-content;
    font-size: 3rem;
    color: var(--opn-color-green);
    font-weight: 600;
    letter-spacing: 3px;
    margin: 14px 30px;
    text-decoration: none;
}

.main__menu{
    width: 90vw;
    display: flex;
    align-items: center;
    margin: 2vh auto;
    .link{
        font-size: 1.5rem;
        margin-left: 10px;
        padding: 13px;
        font-weight: 600;
        letter-spacing: 3px;
        border: none;
        text-decoration: none;
        background-color: transparent;
        color: var(--opn-color-green);
    }
    .link:hover{
        color: #fdfdfd;
    }
    a{
        font-size: 1.3rem;
        margin-left: 10px;
        padding: 13px;
        background-color: var(--opn-color-green);
        color: #fdfdfd;
        font-weight: 600;
        letter-spacing: 3px;
        border: none;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        background-color: var(--opn-color-dark-green);
    }
}

.profile__menu{
    width: 80vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 1.6em;
        font-weight: 600;
        margin-top: 7vh;
    }
    .button__loginned{
        font-size: 1.6em;
        padding: 6px;
        letter-spacing: 2px;
        border: 2px solid transparent;
        color: var(--opn-color-green);
        background-color: transparent;
        font-weight: 580;
        cursor: pointer;
        text-decoration: none;
    }
    .button__loginned:hover{
        border-bottom: 2px solid var(--opn-color-green);
    }

    .button__primary{
        font-size: 1.4em;
        color: var(--opn-color-green);
        letter-spacing: 3px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 3%;
    }

    .vertical-center{
        margin-top: 4.3vh;
    }

    .button__primary:hover{
        color: var(--opn-color-dark-green);
    }

    .profile__options{
        width: 300px;
        height: max-content;
        padding-bottom: 3px;
        padding-left: 1px;
        padding-right: 1px;
        position: absolute;
        top: 10%;
        left: 82%;
        box-shadow: 0 0 7px 0 hsl(3, 0%, 40%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile__options-element{
            width: 99%;
            height: 40px;
            margin-top: 3px;
            margin-left: 0;
            text-align: center;
            font-size: 1.2em;
            border: none;
            text-decoration: none;
            line-height: 100%;
            background-color: transparent;
            cursor: pointer;
            color: var(--opn-color-green);
        }
        .profile__options-element:hover{
            background-color: var(--opn-color-dark-green);
            color: #fdfdfd;
        }

        .text-center{
            line-height: 210%;
        }
    }
}
