<div class="h-max border border-[#222] rounded-lg">
    <div class="text-white py-3 px-3 bg-[#444] rounded-tl-lg rounded-tr-lg">
      <p class="font-bold">{{ cardHeader }}</p>
      <p>{{cardSubHeader}}</p>
    </div>
    <div class="text-white min-h-52 mt-2 px-3">
        {{ cardContent }}
    </div>
    <div class="text-white flex justify-between mt-2 py-2 px-3 bg-[#444] rounded-bl-lg rounded-br-lg">
        <button class="px-4 rounded-lg bg-green/55 hover:bg-green/70 text-xs h-9">Edytuj opis</button>
        <button (click)="deleteProduct()" class="px-4 rounded-lg bg-green/55 hover:bg-green/70 text-xs h-9">Usuń</button>
    </div>
</div>