@use "./../../../utils/scss/op-colors.scss" as *;

div#formigInup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    div#formsignin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 83vh;
        h1{
            margin-bottom: 7%;
        }
        button{
            margin-bottom: 60px;
            padding: 7px;
            border: none;
            font-size: 1.6rem;
            font-weight: bold;
            font-style: normal;
            letter-spacing: 3px;
            min-width: 200px;
            background-color: transparent;
        }
        button:hover{
            background-color: $op-color-green;
            color: white;
        }
    }
}