<opn-pane-container>
    <opn-logo-opinier [beta-mode]="true"></opn-logo-opinier>
    <div class="downButtons">
        <button #log>Podziel się opinią</button>
        <button class="res" #res>Zarejestruj</button>
    </div>
</opn-pane-container>

<opn-pane-container [background-color]="'#1ef01e'">
    <p>Najlepiej oceniane opinie</p>
    <div class="opn-pane-container-body">
        <opn-opinie-container [header]="'rhrhrh'"></opn-opinie-container>
        <opn-opinie-container [header]="'rhrhrh'"></opn-opinie-container>
        <opn-opinie-container [header]="'rhrhrh'"></opn-opinie-container>
        <opn-opinie-container [header]="'rhrhrh'"></opn-opinie-container>
        <opn-opinie-container [header]="'rhrhrh'"></opn-opinie-container>
        <opn-opinie-container [header]="'rhrhrh'"></opn-opinie-container>
    </div>
</opn-pane-container>
