<opn-menu-bar></opn-menu-bar>
<opn-pane-container>
    <opn-form-registers class="w-max flex flex-col items-center" [formGroup]="userForm" (submit)="$event.preventDefault()">
        <label class="text-7xl tracking-[7px] text-green">Rejestracja</label>
        <opn-form-input label="Nazwa Użytkownika" formControlName="name" name="userName" class="mt-8" />
        <opn-form-input label="Adres E-mail" type="email" formControlName="email" name="userEmail" />
        <opn-form-input label="Hasło" type="password" formControlName="password" name="userPassword" />
        <button type="submit" (click)="signUpUser()" class="text-xl tracking-[2px] border-none px-6 py-3 bg-green text-white hover:bg-dark-green mt-4 rounded-lg">Stwórz konto</button>
    </opn-form-registers>
</opn-pane-container>