<opn-pane-container>
    <opn-form-registers class="formContainer" [formGroup]="userForm" (submit)="$event.preventDefault()">
        <label class="labelC">Rejestracja</label>
        <opn-rejestracja-step [step]="1"></opn-rejestracja-step>
        <opn-form-input label="Nazwa Użytkownika" formControlName="name" name="userName" />
        <opn-form-input label="Adres E-mail" type="email" formControlName="email" name="userEmail" />
        <opn-form-input label="Hasło" type="password" formControlName="password" name="userPassword" />
        <span style="display: none; background-color: red; color: var(--opn-background-color); padding: 4px; margin-top: 20px; width: max-content; height: 40px;"
        #summitpropt></span>
        <button type="submit" (click)="signUpUser()">Stwórz konto</button>
    </opn-form-registers>
</opn-pane-container>