@use "../../../shared/utils/scss/op-colors.scss" as *;

nav{
    display: flex;
    flex-direction: row;
    height: 70px;
    a{
        font-family: "Alef";
        font-size: 1.6em;
        margin-left: 16px;
        margin-top: 4px;
        color:rgb(0, 0, 0);
    }
    .menu__bar__button{
        display: block;
        min-width: 7vw;
        height: 45px;
        margin-left: 7vw;
        margin-top: 1.4%;
        cursor: pointer;
        text-align: center;
        color:rgb(0, 0, 0);
        padding: 10px;
        font-family: "Alef";
        font-size: 1.3rem;
        letter-spacing: 3px;
        text-decoration: none;
    }

    .menu__bar__button:hover{
        background-color: $op-color-green;
        color:rgb(255, 255, 255);
    }
}