<opn-pane-container [ngPlural]="placeholder">
    <ng-template ngPluralCase="0">
            <form class="formContainer step1"  (submit)="$event.preventDefault()">
                <label class="labelC">Wybierz typ konta</label>
                <div class="radioButtons">
                    <opn-choose [name]="'Zwykłe konto'" (typeAction)="setAccountLabel($event)"></opn-choose>
                    <opn-choose [name]="'Marka osobista'" (typeAction)="setAccountLabel($event)"></opn-choose>
                    <opn-choose [name]="'Firma'" (typeAction)="setAccountLabel($event)"></opn-choose>
                </div>
            </form>
    </ng-template>

    <ng-template ngPluralCase="1">

        <!-- <opn-form-registers [type]="'Zwykłe konto'"></opn-form-registers> -->
        <ng-template [ngIf]="accountLabel === 'Zwykłe konto'">
            <form class="formContainer step1"  (submit)="$event.preventDefault()">
                <span class="labelC account">{{accountLabel || "Zwykłe konto"}}</span>
                <span class="labelC">Wpisz dane</span>
                <input type="text" name="userName" class="inputC" placeholder="Nazwa użytkownika"/>
                <input type="email" name="userEmail" class="inputC" placeholder="Adres e-mail"/>
                <input type="password" name="userPassword" id="uPassword" class="inputC" placeholder="Hasło"/>
                <button type="submit" (click)="$event.preventDefault()">Stwórz konto</button>
            </form>
        </ng-template>
    </ng-template>
</opn-pane-container>

<!-- <form class="formContainer step1"  (submit)="$event.preventDefault()">
    <span class="labelC account">{{accountLabel || "Zwykłe konto"}}</span>
    <span class="labelC">Wpisz dane</span>
    <input type="text" name="userName" class="inputC" placeholder="Nazwa użytkownika"/>
    <input type="email" name="userEmail" class="inputC" placeholder="Adres e-mail"/>
    <input type="password" name="userPassword" id="uPassword" class="inputC" placeholder="Hasło"/>
    <button type="submit" (click)="$event.preventDefault()">Stwórz konto</button>
</form> -->