<opn-pane-container>
    <p class="motto">Podziel się doświadczeniami z innymi.</p>
    <div class="newOp">
        <span>Nowo dodane opinie</span>
        <div class="opn-pane-container-body">
            <opn-opinie-container>
                <opn-opinie-header>rhrhrh</opn-opinie-header>
                <opn-opinie-content>nvuhfgbvhigfbvsdifsh</opn-opinie-content>
            </opn-opinie-container>
            <opn-opinie-container>
                <opn-opinie-header>rhrhrh</opn-opinie-header>
                <opn-opinie-content>nvuhfgbvhigfbvsdifsh</opn-opinie-content>
            </opn-opinie-container>
            <opn-opinie-container>
                <opn-opinie-header>rhrhrh</opn-opinie-header>
                <opn-opinie-content>nvuhfgbvhigfbvsdifsh</opn-opinie-content>
            </opn-opinie-container>
        </div>
    </div>
</opn-pane-container>