/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'KOActivistaBold';
        src: url('fonts/K.O. Activista Font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'K.O. Activista*';
        src: url('fonts/K.O. Activista Font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}