:root{
    --opn-color-dark-green: hsl(120, 86%, 37%);
    //--opn-background-color: #ededed;
    --opn-background-color: hsl(0, 0%, 96%);
    --opn-hex-color-green: #1ef01e;
    --opn-color-green: #066506;
    --opn-color-green-hover: #078b07;
    --opn-color-dialog-bg: #57F457;
    --opn-color-dialog-fg: #ffffff;
    --opn-buttons-color: var(--op-color-green);
    --opn-buttons-color-hover: #088808;
    --opn-green-light: #0a9b0a;
}

*{
    font-family: "Alef";
    box-sizing: border-box;
}

body{
    background-color: var(--opn-background-color);
}

html, body {  margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }