<div class="opinion_add">
    <div class="editor" *ngIf="pn == 'positive'; else negativeEditor">
        
    </div>

    <ng-template #negativeEditor>
        <div class="editor">
            negative
        </div>
    </ng-template>
</div>


<!--

    <div class="left_container"></div>
        <div class="right_container">
            <div class="opinion_container">
                <input contenteditable="true"/>
                <opn-dialog-opinion-content></opn-dialog-opinion-content>
            </div>
        </div>
-->