<opn-pane-container>
    <p class="motto">Podziel się doświadczeniami z innymi.</p>
    <!-- <div class="newOp">
        <span>Nowo dodane opinie</span>
        <div class="opn-pane-container-body">
            <opn-opinie-container [user_name]="'Anonim'" [opinie-header]="'rhrhrh'" [opinie-content]="'nvuhfgbvhigfbvsdifsh'"></opn-opinie-container>
        </div>
    </div> -->
	<p style="color: var(--opn-color-green); font-size: 30px; margin-top: 25vh;">Copyright Patryk Opala 2022 - 2023</p>
</opn-pane-container>