div.tiles{
    display: flex;
    flex-direction: column;
    width: 96.4vw;
    margin-top: 6px;
    margin-bottom: 13px;
    animation: 0.3s out-in ease-out;

    p.opinion_header{
        font-size: 4rem;
        font-family: 'KOActivistaBold';
        align-self: center;
    }

    p.opinion_content{
        font-size: 2rem;
        font-family: 'KOActivistaBold';
        padding-left: 3vw;
        max-width: 44vw;
        overflow-wrap: break-word;
    }
}

@keyframes out-in{
    from{
        opacity: 0;
        transform: translateY(6vh);
    }
    to{
        opacity: 1;
        transform: translateY(0vh);
    }
}
