<opn-pane-container>
    <opn-form-registers (submit)="signUpCompany($event)" [formGroup]="companyForm" [defaultAccountService]="accountFormService">
        <opn-rejestracja-step [step]="2"></opn-rejestracja-step>
        <div class="field-container">
            <label class="field">Nazwa Firmy</label>
            <input type="text" name="userName" formControlName="name" class="inputC" placeholder="Mleczarnia Rzymska"/>
        </div>
        <div class="field-container">
            <label class="field">Adres E-mail</label>
            <input type="email" name="userEmail" formControlName="email" class="inputC" placeholder="mleczrzymska672@mleczarniarzymska.pl"/>
        </div>
        <div class="field-container">
            <label class="field">Hasło</label>
            <input type="password" name="userPassword" formControlName="password" id="uPassword" class="inputC" placeholder="****************"/>
        </div>
        <button type="submit">Stwórz konto</button>
    </opn-form-registers>
</opn-pane-container>